{% extends 'layout/Base.html' %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block title %} List_Products {% endblock %}

{% endblock %}

{% block content %}
    {% for product in product_list %}
        <ul>
            <li>
                <a href="{{ product.get_absolute_url }}">[Name]:{{ product.title }} & [Price]:{{ product.price }}</a>
            </li>
        </ul>
    {% endfor %}

    <h5>Count-of-products: {{ products_count }}</h5>
    <br>
    <h5>average-of-products: {{ Product_avg.rating__avg }}</h5>
    <h6>average-of-products: {{ Product_avg.price__min }}</h6>
    <h6>average-of-products: {{ Product_avg.rating__max }}</h6>

{% endblock %}


